<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nikpo/IdeaProjects/My_FrameworK">
        <classes>
            <class name="org.example.Full_Crud.Integration">
                <methods>
                    <include name="CreateBooking"/>
                    <include name="UpdateBooking"/>
                    <include name="PatchBooking"/>
                    <include name="DeleteBooking"/>
                    <include name="GetBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>